@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
  background-image: #DDD;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background-size: 200% 200%;
  font-family: Arial;
  font-size: 15pt;
  color: #263135;
  margin-bottom: 60px;
}

.desc {
  display: block;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border: 3px;
  border-color:rgba(17, 100, 63);
}

.price {
  font-size: 12pt;
  color: rgba(17, 100, 63);
}

.logo {
  border-radius: 7px;
  max-width: 100px
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 40pt;
}

h1, h2, h3 {
  font-family: Arial;
  color: rgba(17, 100, 63, 0.8);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}


.App {
  text-align: center;
  /* height: 100%; */
  width: 100%;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.editorContainer {
  padding: 4em 10px 10px 10px;
  margin: 10px;
  height: 100%;
  position: relative;
}

.editors {
  border: 1px transparent solid;
  padding: 20px 20px 20px 20px;
  margin: 1.25em;
  font-size: 1.1em;
  border-radius: 6px;
  text-align: left;
  line-height: 1.25em;
  color: black;
  min-height: 200px;
  position: relative;
}

.buttonMenu {
  position: relative;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-self: space-around;
}

ul.listproducts {
  list-style: none;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.rmproduct:hover {
  background: #FFF;
  background: rgba(200, 40, 30, 0.4);
}

img.selectimage {
  width: 50px;
  background: #CCC;
  padding:190px;
}
input.selectimage {
  display: none
}

ul.listproducts img {
  max-width: 400px;
  margin: auto;
  border-radius: 6px;
}

ul.listproducts li, li.listproducts {
  display: flex;
  flex-direction: column;
  background: #EEE;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 10px;
  max-width: 500px;
  margin: auto;
}

button {
  border-radius: 2px;
  margin: 0px 12px;
  padding: 10px;
  font-family: "Times";
  font-size: 15pt;
  text-align: center;
  align-items: center;
  /* line-height: 200%; */
  /* background-image: linear-gradient(-225deg, #fffeff 0%, white 100%); */
  border: none;
  color: #263135;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

input, textarea {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin-bottom: 30px
}

input.dostyle {
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
  cursor: pointer;
}

img.search {
  width: 15px;
}

/* Customize the label (the container) */
input.radio {
  display: block;
  position: relative;
  size: 30px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
width: 400px;
height: 100px;
}

button:hover {
background-color: rgba(17, 100, 63, 0.8);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
color: #fff;
transform: translateY(-7px);
}

nav {
background-color: rgba(17, 100, 63, 0.7);
  left: 0px;
  margin:auto;
  align-items:center;
  display: block;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  padding: 10px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

nav button {
background-color: rgba(17, 100, 63, 0.8);
  box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.3);
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 10px;
  color: #fff;
}

nav button:hover {
  background-color: #EEE;
  color: #263135;
  margin-top: 10px;
}
button.underline {
text-decoration: underline;
}

.underline,
.bold,
.italic,
.highlight {
font-size: 1em;
text-align: center;
}

.strikethrough {
text-decoration: line-through;
font-size: 1em;
}

.editors {
  background-color: white;
}

a:link,
a:visited {
  /* color: linear-gradient(to bottom, #6a11cb 0%, #2575fc 100%); */
  color: radial-gradient(#16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.material-icons {
  font-size: 100%;
  text-align: center;
  align-items: center;
  /* max-height: 15px; */
}

.public-DraftStyleDefault-block,
.public-DraftStyleDefault-ltr {
  font-size: 16px !important;
  letter-spacing: 0.5px !important;
}

.editors * {
  max-width: 100%;
}

p.sobre {
  margin: auto;
  background: #EEE;
  padding: 20px;
  width: 800px;
  font-size: 18pt;
  text-align: justify;
  text-indent: each-line;
  text-transform: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
