ul.listproducts {
  width: 100%;
  list-style: none;
  background: #EEE;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  display: block;
  border-radius: 6px;
  padding: 10px;
  max-width: 90%;
  margin: auto;
}

ul.listproducts img {
  max-height: 300px;
  max-width: 100%;
  margin: auto;
  border-radius: 6px;
  border-image: 5px;
}

ul.listproducts li {
  display: flex;
  flex-direction: column;
}
